/*================================================
    VARIABLES
  ================================================
*/
/*================================================
BASE STYLES
================================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-image: url(../images/bg-pattern-bottom-mobile.svg), url(../images/bg-pattern-top-mobile.svg);
  background-position: bottom right, top left;
  background-repeat: no-repeat, no-repeat; }
  @media screen and (min-width: 62.5em) {
    body {
      background-image: url(../images/bg-pattern-bottom-desktop.svg), url(../images/bg-pattern-top-desktop.svg);
      background-position: bottom right, top left;
      background-repeat: no-repeat, no-repeat; } }

h1 {
  font-size: 2.3rem; }

h3 {
  font-size: 1.6rem; }

p {
  line-height: 1.3; }

img {
  display: block;
  max-width: 100%; }

.bold {
  font-size: 110%; }

.tint {
  font-size: 1.5rem;
  color: rgba(238, 104, 164, 0.5); }

/*================================================
    GENERAL STYLES
  ================================================
*/
.container {
  margin-inline: auto;
  padding-block: 3rem;
  width: calc(min(90vw, 95rem));
  min-height: 95vh;
  display: grid;
  justify-content: center;
  align-content: center; }

.row {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 62.5em) {
    .row {
      flex-direction: row; } }

@media screen and (min-width: 62.5em) {
  .rating__list {
    text-align: start;
    justify-content: flex-start; }
  .rating > * {
    width: 100%; }
  .rating article:first-child {
    max-width: 40rem; }
  .rating article:nth-child(2) {
    flex-grow: 1; } }

.rating__text {
  display: flex;
  flex-direction: column; }

.rating__header {
  width: 70%;
  align-self: center; }
  .rating__header + p {
    margin-top: 2rem;
    color: #937b92; }
  @media screen and (min-width: 62.5em) {
    .rating__header {
      align-self: flex-start;
      font-size: 250%; } }

.rating__stat {
  font-weight: 700;
  gap: 1.5rem; }
  @media screen and (min-width: 62.5em) {
    .rating__stat {
      flex-direction: column;
      justify-content: space-around; } }

.rating__list {
  background-color: #f7f2f7;
  padding: 2rem 2.5rem;
  color: #502050;
  text-align: center;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: .5rem; }
  @media screen and (min-width: 62.5em) {
    .rating__list {
      width: 85%;
      flex-direction: row;
      align-items: center; }
      .rating__list:nth-of-type(2) {
        align-self: center; }
      .rating__list:nth-of-type(3) {
        align-self: flex-end; } }

.rating__star img {
  display: inline-block; }

.rating__star img + img {
  margin-left: 0.3rem; }

.review-container {
  margin-top: 4rem;
  gap: 1.5rem; }

.review {
  border-radius: 0.5rem;
  padding: 3rem;
  background-color: #502050;
  color: rgba(255, 255, 255, 0.8); }
  @media screen and (min-width: 62.5em) {
    .review {
      padding: 2rem; }
      .review:nth-of-type(2) {
        transform: translateY(1.5rem); }
      .review:nth-of-type(3) {
        transform: translateY(3rem); } }
  .review__profile {
    display: flex;
    gap: 1.5rem;
    justify-content: start; }
  .review__user {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .review__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 100%; }
  .review__text {
    margin-top: 1.5rem; }
